.card{
    width: 600px;
    border: 1px solid #de7471;
    border-radius: 5px;
    margin: auto;
    padding: 4px;

}

h1{
    font-size: 30px;
    text-align: center;
    color: #de7471;
    border-color: #de7471;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

h2, h3{
    text-align:center;
    color: #de7471;
}

p{
    font-size: 16px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}
.regle{
    padding: 10px;
}
.image{
    text-align: center;
    padding:20px;
}
a{
    color: white;
}

a:hover{
    color: #de7471;
}
body{
    background-color: black;
    color: white;

}

